<!--<h1>Listing construct_ones</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construct_ones.each do |construct_one| %>
  <tr>
    <td><%= construct_one.title %></td>
    <td><%= construct_one.description %></td>
    <td><%= link_to 'Show', construct_one %></td>
    <td><%= link_to 'Edit', edit_construct_one_path(construct_one) %></td>
    <td><%= link_to 'Destroy', construct_one, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construct one', new_construct_one_path %>-->

<!-- above is original from scaffold, replaced with below -->


<div id="quiz_container" class="container">

 <div class="row-fluid">


     

          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#">Space</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Biology</a></li>
            <li><a href="#">Grammer</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Physics</a></li>
          </ul>

 <div class="span12" style="margin-top:10px;">
           <div class="margin_30 Arial_Rd_Grey_30">Arrange our Solar System</div>

           <div id="bigrow">bigrow</div>

         

               <div id="dragzone">
                  <div id="drag_empty1"></div> 
                   <div id="drag_solar1"> <%= image_tag("earth.png") %></div> 
                  <div id="drag_empty2"></div> 
                 
                  <div id="drag_empty3"></div> 
                  <div id="drag_solar2"> <%= image_tag("venus.png") %></div> 
                  <div id="drag_solar3"> <%= image_tag("mercury.png") %></div> 
                  <div id="drag_empty4"></div> 
                  <div id="drag_solar4"> <%= image_tag("mars.png") %></div> 
                  <div id="drag_empty5"></div> 
                  <div id="drag_solar5"> <%= image_tag("jupiter.png") %></div> 
                  <div id="drag_solar6"> <%= image_tag("neptune.png") %></div> 
                   <div id="drag_solar7"> <%= image_tag("saturn.png") %></div> 
                    <div id="drag_empty6"></div> 
                     <div id="drag_empty7"></div> 
                       <div id="drag_solar8"> <%= image_tag("uranus.png") %></div> 
                          <div id="drag_empty8"></div> 

               </div>

           





             </div><!-- span12-->


</div> <!-- row-fluid -->
</div> <!-- container -->