<!--<h1>Listing construct_ones</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construct_ones.each do |construct_one| %>
  <tr>
    <td><%= construct_one.title %></td>
    <td><%= construct_one.description %></td>
    <td><%= link_to 'Show', construct_one %></td>
    <td><%= link_to 'Edit', edit_construct_one_path(construct_one) %></td>
    <td><%= link_to 'Destroy', construct_one, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construct one', new_construct_one_path %>-->

<!-- above is original from scaffold, replaced with below -->
