<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @construct_one.title %>
</p>

<p>
  <b>Description:</b>
  <%= @construct_one.description %>
</p>


<%= link_to 'Edit', edit_construct_one_path(@construct_one) %> |
<%= link_to 'Back', construct_ones_path %>
