<!--<h1>Listing construct_twos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construct_twos.each do |construct_two| %>
  <tr>
    <td><%= construct_two.title %></td>
    <td><%= construct_two.description %></td>
    <td><%= link_to 'Show', construct_two %></td>
    <td><%= link_to 'Edit', edit_construct_two_path(construct_two) %></td>
    <td><%= link_to 'Destroy', construct_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construct two', new_construct_two_path %>-->

<div id="quiz_container" class="container">

 <div class="row-fluid">


          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#">Geography</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Biology</a></li>
            <li><a href="#">Grammer</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Physics</a></li>
          </ul>

          <div class="span12" style="margin-top:10px;">

            <ul class="number_list">
              <li class="Arial_Rd_Grey_50 margin_number"> 1.</li>
               <li class="Arial_Rd_Grey_50 margin_number"> 2.</li>
               <li class="Arial_Rd_Grey_50 margin_number"> 3.</li>
               <li class="Arial_Rd_Grey_50 margin_number"> 4.</li>
               <li class="Arial_Rd_Grey_50 margin_number"> 5.</li>

            </ul>

            <div id="number_rows">

              <div id="number_row1">
                <div id="row1a" class="row1a row_no_border_100"></div>
                <div id="row1b" class="row1b row_no_border_330"></div>
              </div>
              <div id="number_row2">
                <div id="row2a" class="row2a row_no_border_100"></div>
                <div id="row2b" class="row2b row_no_border_330"></div>
              </div>
              <div id="number_row3">
                <div id="row3a" class="row3a row_no_border_100"></div>
                <div id="row3b" class="row3b row_no_border_330"></div>
              </div>
               <div id="number_row4"> 
                <div id="row4a" class="row4a row_no_border_100"></div>
                <div id="row4b" class="row4b row_no_border_330"></div>
              </div>
              <div id="number_row5">
                <div id="row5a" class="row5a row_no_border_100"></div>
                <div id="row5b" class="row5b row_no_border_330"></div>
              </div>

            </div>

            <div id="info">
              <p class="Arial_Rd_Grey_30">Place the cities in order of population and match the facts</p>
            </div>

            <div id="cities_info">
              <div id="drag_city1" class="tokyo"> <%= image_tag("tokyo.png") %></div> 
              <div id="drag_city2" class="canton"> <%= image_tag("canton.png") %></div> 
              <div id="drag_fact1" class="tokyo_fact"> <%= image_tag("tokyo_fact.png") %></div> 
            </div>







          </div> <!-- span12 -->

</div> <!-- row-fluid -->
</div> <!-- container -->