<!--<h1>Listing construct_twos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construct_twos.each do |construct_two| %>
  <tr>
    <td><%= construct_two.title %></td>
    <td><%= construct_two.description %></td>
    <td><%= link_to 'Show', construct_two %></td>
    <td><%= link_to 'Edit', edit_construct_two_path(construct_two) %></td>
    <td><%= link_to 'Destroy', construct_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construct two', new_construct_two_path %>-->

<div id="quiz_container" class="container">

 <div class="row-fluid">


          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#">Space</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Biology</a></li>
            <li><a href="#">Grammer</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Physics</a></li>
          </ul>

          <div class="span12" style="margin-top:10px;">

            <div id="number_rows">

              <div id="number_row1">  
                <div class="number_row ">1.</div>
                <div id="row1a" class="row1a row_no_border_small"></div>
                <div id="row1b" class="row1b row_no_border_small"></div>
              </div>

            </div>

            <div id="info">
              <p class="Arial_Rd_Grey_30">Place the cities in order of population and match the facts</p>
            </div>

            <div id="cities_info">
              <div id="drag_city1" class="tokyo"> <%= image_tag("tokyo.png") %></div> 
            </div>







          </div> <!-- span12 -->

</div> <!-- row-fluid -->
</div> <!-- container -->