<h1>Listing construct_twos</h1>

<table>
  <tr>
    <th>Ttitle</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construct_twos.each do |construct_two| %>
  <tr>
    <td><%= construct_two.ttitle %></td>
    <td><%= construct_two.description %></td>
    <td><%= link_to 'Show', construct_two %></td>
    <td><%= link_to 'Edit', edit_construct_two_path(construct_two) %></td>
    <td><%= link_to 'Destroy', construct_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construct two', new_construct_two_path %>
